name: android_window
description: A flutter plugin allows you to create native android floating window.
version: 0.0.0
homepage: https://github.com/qiuxiang/flutter-android-window

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
  pigeon: ^21.0.0

flutter:
  plugin:
    platforms:
      android:
        package: qiuxiang.android_window
        pluginClass: AndroidWindowPlugin
