<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="qiuxiang.android_window">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <application>
    <service android:name=".WindowService" android:foregroundServiceType="specialUse" />
  </application>
</manifest>
